*{
  margin: 0;
  padding: 0;
}

html{
  font-family: serif
}

:root {
  /*Color Cube*/
  --white: #ffffff;
  --Tobacco-Brown: #6a5243;
  --Cod-Gray: #0e0e0d;
  --Manatee: #929295;
  --Atoll: #0a5e6c;
  --Chalky: #f0caa1;
  --Raw-Sienna: #d68842;
  --Perfume: #bda2f3;
  --Daisy-Bush: #5b2ca2;
  --Japanese-Laurel: #287a00;

 /*Median Cut*/
  --Outer-Space: #282d2c;
  --Pearl-Bush: #e9dedc;
  --Millbrook: #694a3a;
  --Leather: #9f7651;
  --Mamba: #878589;

  /*Material Design*/
  --Driftwood-Vibrant:  #b77c49;
  --Sandrift-Muted: #b2927b;
  --Atoll-DarkVibrant: #086875;
  --Limited-Spruce-DarkMuted: #344747;
  --Tan-LightVibrant: #d6b28d;

}

.d-flex{
 display: flex;
}

